<!doctype html>
<html class="no-js" lang="en-GB">
<head>
  <title>Mobile Mechanics and Tyres</title>
  <%- include partials/head-meta.ejs %>
  <%- include partials/twitter-meta.ejs %>
</head>
<body>
    <header class="header">
      <%- include partials/navbar.ejs %>
      <div class="head-logo">
        <img src="<%- require('../../assets/img/logo-full-dark.svg') %>" width="100%" alt="Mobile Mechanics and Tyres logo"/>
        <h1>Mobile Mechanics and Tyres</h1>
      </div>
    </header>
    <main>
      <section class="error-content">
        <h2>Page not found</h2>
        <p>Well, this is embarrassing. It looks like we can't find the page you're looking for.</p>
        <p>Double check that you have entered the correct address and try again.</p>
        <p>If you believe you're seeing this error by mistake please <a href="/#contact" title="Contact Mobile Mechanics and Tyres">contact us</a>.</p>
      </section>
    </main>
    <%- include partials/footer.ejs %>
</body>
</html>