<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <%- include partials/head-meta.ejs %>
  <%- include partials/twitter-meta.ejs %>
  <title>Mobile Mechanics and Tyres | Vehicle Repairs, Servicing & MOTs, Tyre Replacement and Fault Diagnosis in London
  </title>
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header id="intro" class="home-header">
    <%- include partials/navbar.ejs %>
    <div class="head-content">
      <div class="head-details">
        <div class="head-title">
          <h1>Mobile Mechanic and Tyres</h1>
          <p>Taking the hassle out of vehicle repairs at a fair price.</p>
        </div>
        <div class="head-rating">
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="rating-info">
            <p>
              Fantastic rating - 4.9/5 (<a href="https://www.whocanfixmycar.com/garage/mobile-mechanic-and-tyres"
                rel="noopener noreferrer" title="Mobile Mechanics and Tyres on whocanfixmycar.com">450+ reviews</a>)
            </p>
          </div>
        </div>
      </div>
      <div class="quick-book-container">
        <div class="quick-book" tabindex="0">
          <div class="quick-book-head">
            <h2>Request a Callback</h2>
          </div>
          <form action="https://localhost:4000/quick" name="quickBook" class="quick-book-form" method="post"
            enctype="multipart/form-data">
            <input aria-labelledby="quickNameLabel" id="quickName" required inputmode="text" class="form-field"
              type="text" name="name" placeholder="Your name" />
            <label id="quickNameLabel" for="quickName">Your name</label>
            <input aria-labelledby="quickPhoneLabel" id="quickPhone" required inputmode="tel" minLength="11"
              maxLength="11" class="form-field" type="number" name="phone" placeholder="Phone Number eg 07789934355" />
            <label id="quickPhoneLabel" for="quickPhone">Phone Number</label>
            <input aria-labelledby="quickSubjectLabel" id="quickSubject" required inputmode="text" class="form-field"
              type="text" name="subject" placeholder="Subject" />
            <label id="quickSubjectLabel" for="quickSubject">Phone Number</label>
            <input type="submit" value="Submit" />
            <div class="recaptcha-text">
              This site is protected by reCAPTCHA and the Google
              <a href="https://policies.google.com/privacy">Privacy Policy</a> and
              <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section id="services" class="services">
      <%- include partials/services.ejs %>
    </section>
    <section id="about" class="about">
      <div class="about-section">
        <div class="about-details">
          <h2>Why Choose Us?</h2>
          <p>
            Having been in the industry for over 12 years we have a proven track record in repairing mechanical,
            electrical and hydraulic systems. We have a fully equipped workshop with high precision tools to aid us with
            repairs and fault diagnosis.
          </p>
          <p>
            We have a proven track record within the motoring industry and have received accreditation from multiple
            trade bodies including the <a href="https://www.rmif.co.uk/en/about-the-rmi"
              title="Information about the RMI" rel="noopener noreferrer" target="_blank">RMI</a> and <a
              href="https://www.theimi.org.uk/agenda/about-institute-motor-industry-imi"
              title="Information about the IMI" rel="noopener noreferrer" target="_blank">IMI</a>.
          </p>
          <p>
            We have also received multiple awards for our work on the trusted <a href="">whocanfixmycar.com</a>
            website, including their coveted <strong>National Top Performer</strong> and <strong>Gold Customer
              Service</strong> badges.
          </p>
        </div>
        <div class="about-imgs">
          <a href="https://www.whocanfixmycar.com/networks/brembo" rel="noopener noreferrer" target="_blank"
            title="More information about Brembo">
            <img src="<%- require('../../assets/img/brembo-logo.jpg'); %>" alt="Brembo logo" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/luk" rel="noopener noreferrer" target="_blank"
            title="More information about LUK">
            <img src="<%- require('../../assets/img/luk-logo.jpg') %>" alt="LUK logo" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/fag" rel="noopener noreferrer" target="_blank"
            title="More information about FAG">
            <img src="<%- require('../../assets/img/fag-logo.jpg') %>" alt="FAG logo" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/shell" rel="noopener noreferrer" target="_blank"
            title="More information about Shell Helix">
            <img src="<%- require('../../assets/img/shell-helix-logo.jpg') %>" alt="Shell Helix logo" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/ina" rel="noopener noreferrer" target="_blank"
            title="More information about INA">
            <img src="<%- require('../../assets/img/ina-logo.jpg') %>" alt="INA logo" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/varta" rel="noopener noreferrer" target="_blank"
            title="More information about Varta">
            <img src="<%- require('../../assets/img/varta-logo.jpg') %>" alt="Varta logo" height="100">
          </a>
          <a href="https://www.rmif.co.uk/" rel="noopener noreferrer" target="_blank"
            title="More information about RMI">
            <img src="<%- require('../../assets/img/rmi-accreditation.jpg') %>" alt="RMI logo" height="100">
          </a>
          <a href="https://www.theimi.org.uk/" rel="noopener noreferrer" target="_blank"
            title="More information about INI">
            <img src="<%- require('../../assets/img/imi-accreditation.jpg') %>" alt="IMI logo" height="100">
          </a>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="contact-info">
        <span class="loader"></span>
      </div>
      <div class="contact-form">
        <div class="contact-head">
          <h2>Get in contact</h2>
          <p>Get in contact with us and we will be in touch ASAP</p>
        </div>
        <form id="contact-form" action="https://localhost:4000/contact" method="post" enctype="multipart/form-data">
          <input aria-labelledby="contactNameLabel" required pattern="^[a-zA-Z]+(([ -][a-zA-Z ])?[a-zA-Z]*)*$"
            inputmode="text" class="form-field" type="text" name="name" id="contactName" placeholder="Your name" />
          <label id="contactNameLabel" for="contactName">Name</label>
          <input aria-labelledby="contactPostcodeLabel" required inputmode="text" class="form-field" type="text"
            name="postcode" id="contactPostcode" placeholder="Postcode eg EN4 8BZ" />
          <label id="contactPostcodeLabel" for="contactPostcode">Postcode</label>
          <input aria-labelledby="contactPhoneLabel" required inputmode="tel" class="form-field" type="tel" name="phone"
            id="contactPhone" placeholder="Phone Number" min="11" max="13" />
          <label id="contactPhoneLabel" for="contactPhone">Phone Number</label>
          <input aria-labelledby="contactEmailLabel" required inputmode="email" class="form-field" type="email"
            name="email" id="contactEmail" placeholder="Email Address" />
          <label id="contactEmailLabel" for="contactEmail">Email Address</label>
          <input aria-labelledby="contactSubjectLabel" required pattern="^[a-zA-Z]+(([ -][a-zA-Z ])?[a-zA-Z]*)*$"
            inputmode="text" class="form-field" type="text" name="subject" id="subject"
            placeholder="Reason for contact" />
          <label id="contactSubjectLabel" for="subject">Subject</label>
          <textarea aria-labelledby="contactDetailsLabel" required pattern="[\w\d\s]" inputmode="text"
            class="form-field" rows="5" id="details" name="details" placeholder="Further information"
            form="contact-form"></textarea>
          <label id="contactDetailsLabel" for="details">More information</label>
          <input id="contactSubmit" type="submit" placeholder="Submit" />
          <div class="recaptcha-text">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
          </div>
        </form>
      </div>
    </section>
  </main>
  <%- include partials/footer.ejs %>
</body>

</html>